body {
    background-color: #18171C;
}

table, th, td {
    border-top: 3px solid #18171C;
    text-align: left;
    padding-left: 1px;
    font-family: 'Roboto', sans-serif;
}

table {
    border-collapse: collapse;
    width: 75%;
}

td {
    height: 70px;
    padding-left: 10px;
}

tr {
    background-color: #26232C;
    color: #918E97;
}

.tr-same {
    background-color: #2E2C39;
    color: white;
}

th {
    background-color: #18171C;
    padding-left: 10px;
    color: white;
    height: 50px;
}

span {
    font-size: 13px;
}